.na-dataviz {
  // background-color: #efefef;
  // padding: 20px;
  a {
    font-weight: normal;
    color: #209B93;
  }
}

.dv-main {
  display: flex;
}

.dv-sidebar {
  width: 15em;
  margin-right: 2em;
  flex-shrink: 0;
}

.dv-filter {
  &.active {
    font-weight: bold;
  }
}

.dv-info {
  margin-top: 1em;
  padding: 0.5em;
  background-color: #efefef;
}

.dv-legend {
  list-style: none;
  padding: 0;
  margin-bottom: 0.5em;
  
  li {
    display: inline-block;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.3em 0.75em 0.2em;
    border-radius: 0.75em;
    line-height: 1em;
  }
}



.dv-pathways {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.dv-pathway {
  width: 2em;
  padding: 2px 0 0;
  margin: 0 0.2em 0.2em 0;
  text-align: center;

  &:hover, &:active, &:focus {
    // opacity: 0.8;
    box-shadow: inset 0 0 0 2px #00000066;
  }
}

